@import "../../scss-styles/variables.scss";

.side_section {
    background-color: $decoration_color;
    width: 236px;
    border-radius: 30px;
    margin-top: 24px;
    margin-left: 50px;
    padding-top: 44px;
    padding-right: 20px;
    padding-bottom: 24px;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.navigation_wrapper {
    flex: 1;
}

.logo {
    margin: 0 auto;
    display: block;
    margin-bottom: 40px;
}

.navigation_list {
    margin: 0;
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.navigation_item a {
    display: flex;
    gap: 8px;
    align-items: center;
    text-decoration: none;
    font-size: 15px;
    padding: 6px;
    padding-left: 45px;
    width: 100%;
    background-color: transparent;
}

.navigation_item a.active path {
    stroke: $contrast_text_color;
}


.navigation_item a.active svg.calendar-icon path {
    stroke: $contrast_text_color;
}

.navigation_item:focus a,
.navigation_item:hover a,
.navigation_item:active a {
    background-color: $student_blocks;
    color: $contrast_text_color;
    border-radius: 0 30px 30px 0;
    color: $main_text_color;
}

.navigation_item a.active {
    background-color: $main_button_color;
    color: $contrast_text_color;
    border-radius: 0 30px 30px 0;
}

.navigation_icon {
    width: 24px;
    height: 24px;
    margin: 0;
}