.user-page {
    display: grid;
    grid-template-columns: 285px 1fr;
    grid-template-rows: auto 1fr;
    height: calc(var(--vh, 1vh) * 100);
    margin-bottom: 112px;
    box-sizing: border-box;
}

.main-content {
    margin-top: 20px;
    margin-right: 32px;
    margin-left: 50px;
    min-height: calc(100vh - 150px);
}