.user-page {
    display: grid;
    grid-template-columns: 285px 1fr;
    grid-template-rows: auto 1fr;  
    max-height: 100vh;
    padding-bottom: 112px;
}

.main-content {
    margin-top: 20px;
    margin-right: 32px;
    margin-left: 50px;
}