//colors

$main_text_color: #323854;
$contrast_text_color: #fff;
$graphic_color: #ECECEC;
$main_button_color: #8D7FC7;
$inputs_text_color: #79747F;
$link_color: #008AFF;
$active_color: #7362BC;
$notification_color: #E84849;
$decoration_color: #EEEEFF;
$gift_link_color: #D8ECFF;
$countdown: #FFF1CB;
$reports_color: #E8CBFF;
$student_blocks: #dfcfff;
$calendar_header: #C8C5CD;
$calendar_grid: #ECECEC;
$calendar_event: #22782B;

//effects
$header_shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.05), 0 10px 20px -6px rgba(0, 0, 0, 0.05);