@import "../../scss-styles/variables.scss";

// Custom styles for FullCalendar
.calendar_section {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 250px);
  max-height: calc(100vh - 250px);
  overflow: hidden;



  .fc .fc-view .fc-scrollgrid {
    border-top: none;
    border-left: none;
  }


  .fc .fc-theme-standard td,
  .fc-theme-standard th {
    border-right: none;
  }

  .fc .fc-col-header-cell {
    text-align: right;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid $calendar_header;
  }

  .fc .fc-col-header-cell-cushion {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 400;
    color: $inputs_text_color;
  }

  .fc-header-toolbar {
    background-color: transparent;
    padding: 0;
    justify-content: start;
    margin-bottom: 10px;

    .fc-toolbar-title {
      font-size: 1.25rem;
      text-transform: capitalize;
      margin-right: 10px;
      margin-left: 10px;
      min-width: 170px;
      text-align: center;
    }

    .fc-button {
      background-color: transparent;
      border: none;
      color: $inputs_text_color;
      padding: 5px 10px;
      margin: 0 5px;

      &:active,
      &:focus {
        outline: none;
        border: none;
        background-color: transparent;
        color: $inputs_text_color;
        box-shadow: none;
      }
    }

    .fc-button-primary:not(:disabled).fc-button-active:focus,
    .fc-button-primary:not(:disabled):active:focus {
      box-shadow: none;
    }

    .fc-today-button {
      color: $main_text_color;
      border: 1px solid $main_button_color;
      border-radius: 15px;
      font-size: 12px;
      padding: 8px 21px;

      &:focus,
      &:hover {
        border: 1px solid $active_color;
        background-color: $student_blocks;
      }
  
      &:active {
        background-color: $main_button_color;
        color: $contrast_text_color;
      }
    }
  }

  .fc-daygrid-day {
    &.fc-day-today {
      background-color: $contrast_text_color;
      color: $notification_color;
    }
  }

  .fc-event {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 100%;
    outline: $calendar_event 1px solid;
    padding: 0;
    border-radius: 5px;

    & div {
      width: 100%;
      color: $main_text_color;
    }

    & .event-title {
      white-space: normal;
      overflow: hidden;
      text-overflow: ellipsis;
      word-wrap: break-word;
    }
  }
}

.event-time {
  position: relative;
}

.event-pay-status {
  position: absolute;
  right: 0;
}