@import "../../scss-styles/variables.scss";

.header {
    min-height: 66px;
    padding: 12px 50px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
    box-shadow: $header_shadow;
    border-radius: 0 0 25px 25px;
    align-items: center;
}

.messages_link {
    position: relative;
}

.messages_count {
    background-color: $notification_color;
    position: absolute;
    top: -4px;
    right: 0;
    min-width: 16px;
    height: 16px;
    font-size: 10px;
    padding: 2px;
    text-align: center;
    border-radius: 50px;
    color: $contrast_text_color;
}

.header_welcome {
    font-size: 24px;
    font-weight: 600;

    & span {
        color: $active_color;
    }
}

.avatar {
    margin: 0;
}

.header_avatar_button {
    width: 64px;
    height: 42px;
    padding-right: 22px;
    background-color: transparent;
    border: none;
    background-image: url("../../images/openMenuIcon.svg");
    background-position: right 0px top 50%;
    background-repeat: no-repeat;
    border-radius: 10px;


  &:focus,
  &:hover {
      background-color: $decoration_color;
  }

  &:active {
      background-color: $gift_link_color;
  }

}

.header_content {
    position: relative;
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 50%;
    flex-wrap: wrap;
    justify-content: end;
}