@import "./scss-styles/variables.scss";


@font-face {
  font-family: "CirceRounded";
  src: url("./fonts/CirceRounded-Regular4.woff2") format("woff2"),
    url("./fonts/CirceRounded-Regular4.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "CirceRounded";
  src: url("./fonts/CirceRounded-Regular5.woff2") format("woff2"),
    url("./fonts/CirceRounded-Regular5.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}


body {
  margin: 0;
  font-family: "CirceRounded", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: $main_text_color;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

:root {
  --fc-border-color: #ECECEC;
  --fc-bg-event-color: transparent;
}
button {
  font-family: "CirceRounded", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
               'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}